{% extends "interface/base.html" %}
{% block content %}

<div class="container">
    <form action="/search/halls" method="GET" autocomplete="off">
        <br/>
        Id         <input type="number"    name="id"        value="{{id}}">
        Name       <input type="text"      name="name"      value="{{name}}">
        Capacity   <input type="number"    name="capacity"  value="{{capacity}}">

        Order by   <select name="orderby" id="orderby">
                        <option value="id">id</option>
                        <option value="name">name</option>
                        <option value="capacity">capacity</option>
                   </select>

                   <input type="submit"    value="search">

        <script>
            if ('{{orderby}}' == '') document.getElementById('orderby').value = 'id';
            else document.getElementById('orderby').value = '{{orderby}}';
        </script>
    </form>

    <table class="table">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Capacity</th>
        </tr>
        {% for hall in hall_list %}
        <tr>
            <td> {{hall.id}} </td>
            <td> {{hall.name}} </td>
            <td> {{hall.capacity}} </td>
            <td> <a href="{% url 'page.edit' 'halls' hall.id %}">edit</a> </td>
            <td> <a href="{% url 'page.delete' 'halls' hall.id %}">delete</a> </td>
        </tr>
        {% endfor %}
    </table>
</div>

<div id="sidebar">
    <form action="{% url 'page.add' 'halls' %}">
        <input type="submit" value="add new"/>
    </form>
</div>
{% endblock content %}
