{%load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{tab_title}}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    </head>
    
    <body>
        <nav id="main-header">
            <div class="container">
                <h1>cinemaDB</h1>
            </div>
        </nav>

        <header id="navbar">
            <div class="container">
                <h2>welcome</h2>
            </div>
        </header>
        
        <div style="text-align: center;">
            <h1> <a href="login">log in</a> or <a href="register">sign up</a> to proceed</h1>
        </div>

    </body>
</html>

