{% extends "interface/base.html" %}
{% block content %}

<div class="container">
    <form action="/search/tickets" method="GET" autocomplete="off">
        <br/>
        Id        <input type="number"      name="id"       value="{{id}}">
        Price     <input type="number"      name="price"    value="{{price}}">
        Seat      <input type="number"      name="seat"     value="{{seat}}">
        Owner     <input type="text"        name="owner"    value="{{owner}}">
        Session   <input type="datetime"    name="session"  value="{{session}}">

        Order by  <select name="orderby" id="orderby">
                    <option value="id">      id</option>
                    <option value="price">   price</option>
                    <option value="seat">    seat</option>
                    <option value="owner">   owner</option>
                    <option value="session"> session</option>
                  </select>

                  <input type="submit"      value="search">
                  
        <script>
            if ('{{orderby}}' == '') document.getElementById('orderby').value = 'id';
            else document.getElementById('orderby').value = '{{orderby}}';
        </script>
    </form>

    <table class="table">
        <tr>
            <th>Id</th>
            <th>Price</th>
            <th>Seat</th>
            <th>Owner</th>
            <th>Session</th>
        </tr>
        {% for ticket in ticket_list %}
        <tr>
            <td> {{ticket.id}} </td>
            <td> {{ticket.price}} </td>
            <td> {{ticket.seat}} </td>
            <td> {{ticket.owner}} </td>
            <td> {{ticket.session}} </td>
            <td> <a href="{% url 'page.edit' 'tickets' ticket.id %}">edit</a> </td>
            <td> <a href="{% url 'page.delete' 'tickets' ticket.id %}">delete</a> </td>
        </tr>
        {% endfor %}
    </table>
</div>

<div id="sidebar">
    <form action="{% url 'page.add' 'tickets' %}">
        <input type="submit" value="add new"/>
    </form>
</div>
{% endblock content %}
