{% extends "interface/base.html" %}
{% block content %}
<div class="container">
    <form action="/search/movies" method="GET" autocomplete="off">
        <br/>
        Id        <input type="number" name="id"       value="{{id}}">
        Name      <input type="text"   name="name"     value="{{name}}">
        Duration  <input type="time"   name="duration" value="{{duration}}">
        Ganre     <input type="text"   name="ganre"    value="{{ganre}}">
                  <input type="submit" value="search">
    </form>

    <table class="table">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Duration</th>
            <th>Ganre</th>
            <th>action</th>
        </tr>
        {% for movie in movie_list %}
        <tr>
            <td> {{movie.id}} </td>
            <td> {{movie.name}} </td>
            <td> {{movie.duration}} </td>
            <td> {{movie.ganre}} </td>
            <td> <a href="{% url 'page.edit' 'movies' movie.id %}">edit</a> </td>
            <td> <a href="{% url 'page.delete' 'movies' movie.id %}">delete</a> </td>
        </tr>
        {% endfor %}
    </table>
</div>

<div id="sidebar">
    <form action="{% url 'page.add' 'movies' %}">
        <input type="submit" value="add new"/>
    </form>
</div>
{% endblock content %}