{%load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{tab_title}}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    </head>

    <body>
        <nav id="main-header">
            <div class="container">
                <a href="{% url 'page.home' %}">cinemaDB</a>
            </div>
        </nav>

        <header id="navbar">
            <div class="container">
                <h2>sign up</h2>
            </div>
        </header>

        <div class="container">
            <form action='', method = "POST", autocomplete="off"> 
                <br/>
                {% csrf_token %} 
                {{form.as_p}}
                <input type="submit" value="register">
            </form>
        </div>
    </body>
</html>
