#sidebar{
	height: 100%;
	width: 120px;
	position: fixed;
	padding-top: 120px;
	top: 0;
}

#sidebar input{
	margin-left: 20px;
	padding-left: 20px;
	padding-right: 20px;
	display: block;
}

body{
	font-family:Arial, Helvetica, sans-serif;
	line-height:1.6em;
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
	color: #333;
	background: #fff;
}

a{
	text-decoration: none; 
	color: blue; 	   
}

.container{
	width:80%;
	margin:auto;
	overflow:auto;
}

input[type="number"]{
	width: 10%;
}

/* TABLE */
.table {
	margin: 25px 0px;
	border: 5px solid #417690;
	border-radius: 5px;
	overflow: hidden;
	
  }
  
  .table tbody tr{
	text-align: left;
	
  }
  
  .table th,
  .table td {
	padding: 10px 15px;
	min-width: 100px;
  }


/* MAIN HEADER */
#main-header{
	background: #417690;
    color: #ffc;
}

#main-header a{
	font-family: "Verdana";
	font-size: 25px;
	margin: auto;
	background: #417690;
    color: #ffc;
}


/* NAVBAR */
#navbar{
	background-color: #447e9b;
	color: #fff;
}

#navbar ul{
	padding:0;
	list-style: none;
}

#navbar li{
	display:inline;
}

#navbar a{
	color:#fff;
	text-decoration: none;
	font-size:18px;
	padding-right:15px;
}
